{% extends 'admin.html.twig' %}

{% block title %}New Author{% endblock %}

{% block content %}
    <h1>اضافة كاتب</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('app_author_index') }}">العودة إلى القائمة</a>
{% endblock %}
