<!-- CTA Section -->
<section class="py-20 bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 py-8 sm:px-6 lg:px-8 text-center bg-white rounded-lg">
    <div class="mb-8">
    <div class="flex items-end justify-center relative mb-8">
            <div class="relative z-10">
                <div class="w-12 h-12 rounded-full overflow-hidden ">
                    <img 
                        src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=150&h=150&fit=crop&crop=face" 
                        alt="Team member 1"
                        class="w-full h-full object-cover"
                    />
                </div>
            </div>
            
            <div class="relative z-20 -mx-4">
                <div class="w-14 h-14 rounded-full overflow-hidden border-1 border-white shadow-lg">
                    <img 
                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=160&h=160&fit=crop&crop=face" 
                        alt="Team member 2"
                        class="w-full h-full object-cover"
                    />
                </div>
            </div>
            
           <div class="relative z-10">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                    <div class="absolute inset-0 bg-pink-300 rounded-full"></div>
                    <img 
                        src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?w=150&h=150&fit=crop&crop=face" 
                        alt="Team member 3"
                        class="w-full h-full object-cover relative z-10"
                    />
                </div>
            </div>
        </div>

      <h2 class="text-3xl font-bold text-gray-900 mb-4">
          {{ 'ContactSection.title'|trans }}
      </h2>
      <p class="text-gray-600 mb-8">
          {{ 'ContactSection.description'|trans|raw }}
      </p>
      <a
        href="{{ path('contact') }}"
        class="bg-teal-600 text-white px-6 py-3 rounded-lg hover:bg-teal-700"
      >
          {{ 'ContactSection.button'|trans }}
      </a>
    </div>
  </div>
</section> 