{% extends 'public.html.twig' %}
{% block title %} {{ 'Navbar.accueil'|trans }}{% endblock %}

{% block content %}

<p>HOME</p>

{% endblock %}

{% block head_scripts %}
{% include 'home/_search_script.html.twig' %}
{% endblock %}
