version: '3.8'

services:
  php:
    build: ./Docker
    container_name: php
    volumes:
      - ./:/var/www
    depends_on:
      - db
    networks:
      - app-network
    environment:
      - APP_ENV=dev
    expose:
      - "9000"

  nginx:
    image: nginx:1.25
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/public:ro
      - ./Docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: db
#    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network

  adminer:
    image: adminer
    container_name: adminer
#    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-network

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge
