{% extends 'admin.html.twig' %}

{% block title %}Edit Texte{% endblock %}

{% block content %}
    <h1>Edit Texte</h1>

    {{ include('texte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_texte_index') }}">back to list</a>

    {{ include('texte/_delete_form.html.twig') }}
{% endblock %}
