{% extends 'public.html.twig' %}
{% block title %}
    {% set termeFR = terme.contents and terme.contents.first.titreFr ? terme.contents.first.titreFr : "Glossaire Sfifa" %}
    {{ termeFR }}
{% endblock %}

{% block ogTags %}
    {% set termeFR = terme.contents and terme.contents.first.titreFr ? terme.contents.first.titreFr : "Glossaire Sfifa" %}
    {% set imageUrl = 'build/images/default/placeholder.jpg' %}
    {% if terme.image %}
        {% set imageUrl = '/uploads/' ~ terme.image.name %}
    {% endif %}

    {% include 'common/_ogBalises.html.twig' with {
        'title': termeFR,
        'url': absolute_url(path('show_terme', {'id': terme.id})),
        'imageUrl': absolute_url(asset(imageUrl)),
        'imageExtension': terme.image ? terme.image.extension : 'jpg'
    } %}
{% endblock %}


{% block content %}

    {% set termeFR = terme.contents and terme.contents.first.titreFr ? terme.contents.first.titreFr : "Glossaire Sfifa" %}


    <section class="py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div id="term-view" class="h-full flex flex-col">
                {% include 'common/term_content.html.twig' with {
                    'image': terme.image ? terme.image.name : null,
                    'contents': terme.contents,
                    'isAdmin': false
                } %}
            </div>


            {% include 'common/footer.actions.html.twig' with {
                'class': 'py-8 ',
                'title':  termeFR|capitalize,
                'url': url('show_terme', {'id': terme.id}),
                'status': terme.statut,
            } %}
        </div>
    </section>

{% endblock %}
