{% extends 'base.html.twig' %}

{% block title %}Edit ContenuNumero{% endblock %}

{% block body %}
    <h1>Edit ContenuNumero</h1>

    {{ include('contenu_numero/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contenu_numero_index') }}">back to list</a>

    {{ include('contenu_numero/_delete_form.html.twig') }}
{% endblock %}
