{% extends 'admin.html.twig' %}

{% block title %}Nouvelle Opinion{% endblock %}

{% block content %}
    <div class="mb-6">
        <h1 class="text-2xl font-bold text-gray-800">Créer une nouvelle opinion</h1>
        <hr class="text-gray-300 my-2">
    </div>

    {{ include('opinion/_form.html.twig') }}
{% endblock %}
