<p>Bonjour, {{ nom_prenom }}</p>

<p>
    L'article : <strong>{{ titre }}</strong>
</p>

<p>
    A été publiée sur le site par l'administrateur {{ nom_prenom_admin }}.<br>
</p>

<p>
    Cordialement,<br>
    L’equipe SFIFA
</p>
