{% extends 'public.html.twig' %}
{% set isAdmin = 'ROLE_ADMIN' in app.user.roles %}

{% block title %}Proposition{% endblock %}


{% block page_content %}

    <div id="term-view" class="h-full flex flex-col">
       {% include 'common/term_content.html.twig' with {
          'image': proposition.image ? proposition.image.name : null,
          'contents': proposition.contents,
          'isAdmin': isAdmin
        } %}
    </div>
{% endblock %}
