<!-- Footer -->
<footer class="bg-rose-500 text-white py-16">
	<div class="max-w-7xl mx-auto px-6">
		<div class="text-center space-y-8">
			<div class="text-center font-bold">
				<img src="{{ asset('build/images/logo.svg') }}" alt="Logo" class="w-28 h-28 mx-auto">
			</div>
			<p class="text-xl max-w-3xl mx-auto">
				مجلة نسائية ثقافية شهرية تعنى بالإبداع النسائي
				<br><br>
				{{ 'now'|date('Y') }}
				أوال فيمينا. جميع الحقوق محفوظة</p>
		</div>
	</div>
</div></footer>
